{% extends "base.html" %}

{% block content %}
  <div class="container">

    <div class="starter-template">
      <h1>App for finding False Greys</h1>
      <p class="lead"><a href="http://en.wikipedia.org/wiki/The_Button_(Reddit)">The button</a> was a social experiment by reddit.<br> The development process <a href="http://www.reddit.com/r/thebutton/comments/37q857/im_making_uis_filthypresser_bot_that_searches/">started on May 29, 2015</a>.<br> The button unexpectedly reached zero on June 5th, 2015, at 21:50:55 UTC. <br> I decided to stop the development process and leave the app in a half-baked state. Click on links in navbar.<br> <br>
      Nonetheless, <a href="http://www.reddit.com/r/thebutton/comments/38956i/using_my_app_for_finding_false_greys_i_stumbled/">I did find some very interesting False Greys!</a></p>
    </div>
  </div><!-- /.container -->
{% endblock %}
